
{% extends 'registration/auth_base.html' %}

{% block content %}

<div class="container login-container">
    <div class="col-sm-8">
        <h1>cloudCache</h1>
        <h3>Open source note-taking software</h3>
        <p class="description">Simplify your note taking. Create notes and put them in notebooks, organizing them
            however you like. Tag notes, search them, and color code them for easier browsing.</p>
    </div>
    <div class="col-sm-4">
        <div class="login-box">
            <div class="login-heading">
                <h3 class="text-centered">Sign In</h3>
            </div>
            <div class="login-body">
                <form method="post" action="{% url 'cloudcache:login' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    <div class="field-group">
                        <input class="form-control" placeholder="Username" type="text" name="username" id="id_username"/>
                        <input class="form-control" placeholder="Password" type="password" name="password" id="id_password">
                    </div>
                    <button class="btn btn-primary btn-login" type="submit" name="commit" id="id_signin">Sign In</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
