
{% extends 'registration/auth_base.html' %}

{% block content %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger text-center alert-auth">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ error }}
        </div>
    {% endfor %}

    <div class="container login-container">
        <div class="col-sm-6 col-sm-offset-1">
            <h1>cloudCache</h1>
            <h3>Open source note-taking software</h3>
            <p class="description">Simplify your note-taking. Create notes and put them in notebooks, organizing them
                however you like. Tag notes, search them, and color code them for easier browsing.</p>
        </div>
        <div class="col-sm-4">
            <div class="login-box">
                <div class="login-heading">
                    <h3 class="text-centered">Sign in</h3>
                </div>
                <div class="login-body">
                    <form method="post" action="{% url 'cloudcache:login' %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}" />
                        <div class="form-group {% if form.username.errors %}has-error{% endif %}">
                            <input class="form-control" placeholder="Username" type="text" name="username"
                                   id="id_username" data-toggle="tooltip" data-placement="right"/>
                        </div>
                        <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                            <input class="form-control" placeholder="Password" type="password" name="password"
                                   id="id_password" data-toggle="tooltip" data-placement="right">
                        </div>
                        <button class="btn btn-primary btn-login" type="submit" name="commit" id="id_signin">Sign In</button>
                    </form>
                </div>
            </div>
            <div class="prepend-top-10 grey-text text-center">
                New here, and want to take awesome notes? <a href="{% url 'cloudcache:register' %}">Sign up</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_js %}
    $('#id_username').tooltip({'trigger':'focus', 'title': '{{ form.username.errors.0 }}'});
    $('#id_password').tooltip({'trigger':'focus', 'title': '{{ form.password.errors.0 }}'});
{% endblock %}