body {
    background-color: #e8e8e8;
}
.login-container {
    margin-top: 50px;
}
.navbar-custom {
    -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.25);
    background-color: #f5f5f5;
    border-top: 3px solid #446E9B;
    border-bottom: 1px solid #b0b0b0;
    margin-bottom: 0px;
}
.navbar-custom .navbar-brand {
    color: #222222;
}
.description {
    font-size: 16px;
    margin-top: 1.5em;
    color: #757575;
}
.login-box {
    padding: 15px;
    background-color: #f5f5f5;
    border: 1px solid #d0d0d0;
    border-radius: 6px;
}
.login-body > form {
    margin-bottom: 0px;
}
.login-body .form-group {
    margin-bottom: 8px;
}
.login-body .form-control {
    margin-bottom: 5px;
    width: 100%;
}
.login-heading > h3 {
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
}
.alert-auth {
    padding: 6px;
}
.btn-auth {
    margin-top: 20px;
}
.btn-login {
    background-color: #446E9B;
}
.btn-register {
    border-color: #017f62;
    background-color: #019875;
}
.btn-register:hover {
    border-color: #017f62;
    background-color: #01b289;
}
.tooltip-inner {
    width: 150px;
}
.prepend-top-10 {
    margin-top: 10px;
}
.grey-text {
    color: #757575;
}


/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 200px;
}

#sidebar-wrapper {
    z-index: 50;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: #f5f5f5;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-right: 1px solid #b0b0b0;
}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -200px;
}

/* Sidebar Styles */

.sidebar-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #444444;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #777777;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 200px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 15px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.treeview > ul > li {
    font-size: 10pt;
    padding: 5px 6px;
}

.treeview > ul > li > span.indent {
    margin-left: 6px;
    margin-right: 6px;
}

.treeview ul > li > span.icon {
    font-size: 12px;
    width: 6px;
}

.tree-wrapper {
    margin-top: 25px;
}

.list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0;
}

#notes-wrapper {
    width: 100%;
    text-align: center;
}

.notes-col {
    padding: 0px 8px;
}

.note {
    display: inline-block;
    background: #ffffff;
    text-align: left;
    width: 100%;
    margin: 8px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
    transition: all 0.33s ease;
}

.note:hover {
    box-shadow: 0 2px 15px rgba(0,0,0,0.5);
    transition: all 0.2s ease;
}

.note-title {
    font-size: 16px;
    font-weight: bold;
    min-height: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
}

.note-contents {
    font-size: 12px;
    min-height: 45px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.note-contents > p {
    display: table-cell;
    vertical-align: middle;
    height: 15px;
    line-height: 100%;
}