body {
    background-color: #f0f0f0;
}
.navbar-custom {
    background-color: #f5f5f5;
    border-top: 3px solid #286482;
    border-bottom: 1px solid #b0b0b0;
}
.navbar-custom .navbar-brand {
    color: #222222;
}
.description {
    font-size: 16px;
    margin-top: 1.5em;
    color: #757575;
}