body {
    background-color: #f0f0f0;
}
.navbar-custom {
    -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.25);
    background-color: #f5f5f5;
    border-top: 3px solid #286482;
    border-bottom: 1px solid #b0b0b0;
}
.navbar-custom .navbar-brand {
    color: #222222;
}
.description {
    font-size: 16px;
    margin-top: 1.5em;
    color: #757575;
}
.login-box {
    -webkit-box-shadow: 0 0px 2px #cccccc;
    -moz-box-shadow:    0 0px 2px #cccccc;
    box-shadow:         0 0px 2px #cccccc;
    background-color: #fafafa;
    padding: 15px;
    border-radius: 6px;
}
.login-body > form {
    margin-bottom: 0px;
}
.login-body .field-group {
    margin-bottom: 8px;
}
.login-body .form-control {
    margin-bottom: 5px;
    width: 100%;
}
.login-heading > h3 {
    margin-top: 0px;
    text-align: center;
}