{% load static from staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cloudCache</title>

    <link href="{% static 'favicon.ico' %}" rel="shortcut icon">
    <link href="{% static 'css/cc.min.css' %}"  rel="stylesheet">
</head>
<body oncontextmenu="return false;" spellcheck="false">

    <main id="panel">

        <header class="cc-navbar">
        </header>

        <div class="content-wrapper">
            <div id="new-note-wrapper" class="row section-wrapper text-center">
                <div id="new-note" class="inline"><span class="icono-document"></span></div>
                <div id="new-checklist" class="inline"><span class="icono-list"></span></div>
            </div>
            <div id="notes-wrapper" class="row section-wrapper">
                <div class="col-md-4 note-col"></div>
                <div class="col-md-4 note-col"></div>
                <div class="col-md-4 note-col"></div>
                <div class="col-md-4 note-col"></div>
                <div class="col-md-4 note-col"></div>
            </div>
        </div>
    </main>

    <!-- Note modal -->
    <div class="modal fade" id="editNote" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="editNoteTitle" contenteditable="true" data-placeholder="Title"></h4>
          </div>
          <div class="modal-body" id="editNoteContents" contenteditable="true" data-placeholder="Take a note..."></div>
          <div class="modal-footer">
            <button id="editNoteSave" type="button" class="btn btn-primary">Save</button>
            <button id="editNoteDelete" type="button" class="btn btn-danger pull-left">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Checklist modal -->
    <div class="modal fade" id="editList" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="editListTitle" contenteditable="true" data-placeholder="Title"></h4>
          </div>
          <div class="modal-body" id="editListContents"></div>
          <div class="modal-footer">
            <button id="editListDone" type="button" class="btn btn-primary">Done</button>
            <button id="editListDelete" type="button" class="btn btn-danger pull-left">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Handlebars.js note template -->
    {% verbatim %}
    <script id='note-template' type='text/x-handlebars-template'>
        <div class="cc-element note" data-url="{{url}}" data-owner-url="{{owner}}">
            <div class="title">
                <div class="inline">{{title}}</div>
            </div>
            <div class="contents">{{render content}}</div>
            <div class="toolbar">
                <span class="glyphicon glyphicon-trash pull-right"></span>
            </div>
        </div>
    </script>

    <script id='checklist-template' type='text/x-handlebars-template'>
        <div class="cc-element checklist" data-url="{{url}}" data-owner-url="{{owner}}">
            <div class="title">
                <div class="inline">{{title}}</div>
            </div>
            <div class="contents">
                {{#each items}}
                <div class="item" data-url="{{url}}">
                    {{#if complete}}
                    <input type="checkbox" checked><span class="complete">{{text}}</span>
                    {{else}}
                    <input type="checkbox"><span>{{text}}</span>
                    {{/if}}
                </div>
                {{/each}}
            </div>
            <div class="toolbar">
                <span class="glyphicon glyphicon-trash pull-right"></span>
            </div>
        </div>
    </script>
    {% endverbatim %}

    <script src="{% static 'js/cc.min.js' %}"></script>
</body>
</html>