{% load static from staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cloudCache</title>

    <link href="{% static 'cloudcache/favicon.ico' %}" rel="shortcut icon">

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"               rel="stylesheet">
    <link href="{% static 'cloudcache/css/core.css' %}"                       rel="stylesheet">
    <link href="{% static 'bootstrap-treeview/css/bootstrap-treeview.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-notify/css/animate-min.css' %}"          rel="stylesheet">
    <link href="{% static 'jquery-ui/css/jquery-ui.min.css' %}"               rel="stylesheet">
    <link href="{% static 'jquery-contextmenu/jquery.contextMenu.min.css' %}" rel="stylesheet">
</head>
<body oncontextmenu="return false;">
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <div class="tree-wrapper">
                <div id="tree"></div>
            </div>
        </div>
        <div id="page-content-wrapper">
            <div class="page-content">
                <div class="container-fluid">
                    <div id="controls-wrapper" class="row">
                        <div class="col-md-15">
                            <ol id="breadcrumbs" class="breadcrumb breadcrumb-custom pull-left">
                                <li class="active">Notebooks</li>
                            </ol>
                        </div>
                    </div>
                    <div id="notebooks-wrapper" class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                    </div>
                    <div id="notes-wrapper" class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'jquery/js/jquery-2.1.0.min.js' %}"></script>
    <script src="{% static 'jquery-ui/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'jquery-contextmenu/jquery.contextMenu.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap-treeview/js/bootstrap-treeview.js' %}"></script>
    <script src="{% static 'bootstrap-notify/js/bootstrap-notify.min.js' %}"></script>
    <script src="{% static 'cloudcache/js/core.js' %}"></script>
    <script src="{% static 'cloudcache/js/cc_home.js' %}"></script>
</body>
</html>