{% load static from staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cloudCache</title>

    <link href="{% static 'favicon.ico' %}" rel="shortcut icon">
    <link href="{% static 'css/cc.min.css' %}"  rel="stylesheet">
</head>
<body oncontextmenu="return false;" spellcheck="false">

    <nav id="menu" class="slide-menu">
        <header>
            <h3 class="text-center">Notebooks</h3>
        </header>
        <div class="tree-wrapper">
            <div id="tree"></div>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li id="addNotebook">
                <a>Add notebook</a>
            </li>
            <li id="renameNotebook">
                <a>Rename notebook</a>
            </li>
            <li>
                <a>Delete notebook</a>
            </li>
            <li>
                <a id="id_navbar_logout" href="{% url 'cloudcache:logout' %}">Log Out</a>
            </li>
        </ul>
    </nav>

    <main id="panel" class="panel-wrapper">

        <header class="cc-navbar">
            <button class="hamburger">
                <span>toggle menu</span>
            </button>
            <div class="breadcrumbs"></div>
        </header>

        <div class="content-wrapper">
            <div id="notebooks-wrapper" class="row section-wrapper">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
            <div id="new-note-wrapper" class="row section-wrapper">
                <div class="col-md-8 col-md-offset-6">
                    <div class="new-note">Take a new note...</div>
                </div>
            </div>
            <div id="notes-wrapper" class="row section-wrapper">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </main>

    <!-- Note modal -->
    <div class="modal fade" id="editNote" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="editNoteTitle" contenteditable="true" data-placeholder="Title"></h4>
          </div>
          <div class="modal-body" id="editNoteContents" contenteditable="true" data-placeholder="Take a note..."></div>
          <div class="modal-footer">
            <button id="editNoteDelete" type="button" class="btn btn-danger pull-left">Delete</button>
            <button id="editNoteSave" type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Notebook modal -->
    <div class="modal fade" id="editNotebook" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="editNotebookName" contenteditable="true" data-placeholder="Notebook name..."></h4>
          </div>
          <div class="modal-footer">
            <button id="editNotebookSave" type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Handlebars.js notebook template -->
    {% verbatim %}
    <script id='notebook-template' type='text/x-handlebars-template'>
        <div data-url="{{url}}" data-nodeId="{{nodeId}}" class="cc-element notebook">
            <div>{{text}}</div>
            <span class="glyphicon glyphicon-folder-open hvr-pop-25"></span>
        </div>
    </script>

    <script id='note-template' type='text/x-handlebars-template'>
        <div class="cc-element note" data-url="{{url}}" data-notebook-url="{{notebook}}">
            <div class="title">
                <div class="inline">{{title}}</div>
            </div>
            <div class="contents">{{render content}}</div>
            <div class="toolbar">
                <span class="glyphicon glyphicon-trash pull-right"></span>
            </div>
        </div>
    </script>
    {% endverbatim %}

    <script src="{% static 'js/cc.min.js' %}"></script>
</body>
</html>