{% load static from staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cloudCache</title>

    <link href="{% static 'favicon.ico' %}" rel="shortcut icon">
    <link href="{% static 'css/cc.min.css' %}"  rel="stylesheet">
</head>
<body>

    <header class="cc-navbar"></header>

    {% block content %}
    {% endblock %}

    <script src="{% static 'js/cc.min.js' %}"></script>
    <script>
        {% block additional_js %}
        {% endblock %}
    </script>
</body>
</html>