{% load static from staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cloudCache</title>

    <link rel="shortcut icon" href="{% static 'cloudcache/favicon.ico' %}">

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'cloudcache/css/core.css' %}" rel="stylesheet">
</head>
<body>

    {% include 'cloudcache/core/navbar.html' %}

    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="{% url 'cloudcache:home' %}">cloudCache</a></li>
                <li><a href="#">Another link</a></li>
                <li><a href="#">Next link</a></li>
                <li><a href="#">Last link</a></li>
            </ul>
        </div>
        <div id="page-content-wrapper">
            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- content of page -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'jquery/js/jquery-2.1.0.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>