// ----------------------------------------------------------------------------
//                          App page container styles
// ----------------------------------------------------------------------------

// --------------------------- Main content wrapper ---------------------------

// Pad the main content wrapper to the same height as the navbar
// so that all content falls underneath the navbar
@content-padding-top:        1.25 * @navbar-height;
@content-padding-bottom:     20px;

@content-padding-side:        8%;

.content-wrapper {
    padding-top:    @content-padding-top;
    padding-left:   @content-padding-side;
    padding-right:  @content-padding-side;
    padding-bottom: @content-padding-bottom;

    background-color: @bg-grey;
    min-height: 100%;
}


// ----------------------------- Section wrappers -----------------------------

@section-margin: 20px;

#notes-wrapper {
    margin-bottom: @section-margin;
    max-height:    ~"calc(100% - @{content-padding-top} - 30px)";
    overflow-y:    auto;
}

// --------------------- Note and checklist common styles ----------------------

@cc-el-side-margin:          0;  // Unnecessary because of Bootstrap's column sidepadding
@cc-el-top-bottom-margin: 10px;  // Match Bootstrap's column 10px side padding, create equal spacing on all sides
@cc-el-border-radius:      2px;

@cc-el-transition: all 0.3s ease;
@cc-el-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);

@cc-padding-top:  0.625em;
@cc-padding-side: 1em;

@title-font-size:    1em;
@title-font-weight:  bold;

@contents-font-size:  0.875em;
@contents-min-height: 1em;

@note-hover-shadow:     0 2px 15px rgba(0,0,0,0.30);
@note-hover-transition: box-shadow 0.3s ease;

.cc-element {
    background: white;

    cursor: default;
    .user-select(none);

    padding: @cc-padding-top @cc-padding-side;

    display: inline-block;
    width: 100%;
    margin: @cc-el-top-bottom-margin @cc-el-side-margin;
    transition: @cc-el-transition;

    font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    .border-radius(@cc-el-border-radius);
    .box-shadow(@cc-el-shadow);

    .title {
        font-size:   @title-font-size;
        font-weight: @title-font-weight;
    }

    .contents {
        font-size:  @contents-font-size;
        min-height: @contents-min-height;

        padding-top: 0.625em;
        padding-bottom: 1em;

        word-break: break-all;
    }

    .toolbar {
        span {
            transition: opacity 0.3s ease;
            opacity: 0.0;

            &:hover {
                transition: all 0.25s ease;
                opacity: 1;
            }
        }

        .glyphicon-trash:hover {
            color: #660000;
        }
    }

    &:hover {
        transition: @note-hover-transition;
        .box-shadow(@note-hover-shadow);

        .toolbar span {
            transition: opacity 0.3s ease;
            opacity: 0.75;
            cursor: pointer;
        }
    }
}

// Help <div> and <span> display inline next to each other in a parent container
.inline {
    display: inline-block;
}

// Help to visually denote that the contenteditable divs are editable
// The 1px padding is Chrome hack to that the element displays a blinking cursor
.edit {
    cursor: text;
    padding-left: 1px;
}

// Get rid of the border on a focused contenteditable on some platforms
[contenteditable]:focus {
    outline: 0px solid transparent;
}

// Styling which helps emulate placeholder effect on contenteditable divs 
*[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    float: left;
    //margin-left: 2px;
    color: darken(#b3b3b3, 10%);
}
*[data-placeholder]:empty:focus:not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    float: left;
    //margin-left: 2px;
    color: darken(#b3b3b3, 10%);
}

// ----------------------------- Checklist styles -----------------------------

.checklist, #editList {
    .item {
        display: flex;
        align-items: center;
        margin: 5px auto;

        input {
            margin: 0;
        }

        span {
            cursor: text;
            padding-left: 1px;
            display: block;
            margin-left: 10px;
        }

        .complete {
            text-decoration: line-through;
            opacity: 0.75;
        }
    }
}

#editList {

    .item {
        margin: 0 auto;
        padding: 3px 15px;

        border-top: 1px solid @off-white;
        border-bottom: 1px solid @off-white;
    }

    .item[data-has-cursor="true"] {
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
    }

    .item:hover, .item:focus,  {
        // make delete button visible when I add that
        // make re-order drag element thing visible when I add that
    }
}

// --------------------------- New note placeholder ---------------------------

#new-note, #new-list {

    background: @cc-theme;
    cursor: pointer;

    [class*=icono-] {
        color: @off-white;
    }

    margin: auto 10px;
}

// ------------------- Note edit modal Bootstrap overrides --------------------

.modal-backdrop {
   background-color: @cc-theme-trim !important;
}

.modal {
    margin-top: 80px;

    .modal-dialog {
        .border-radius(@cc-el-border-radius);
    }

    .modal-content {
        .border-radius(@cc-el-border-radius);
        background: @off-white;
        border: none;

        .modal-title {
            font-size: 1.125em;
            font-weight:  bold;
        }

        .modal-header {
            border: 0;
            padding-bottom: 0;
        }

        .modal-body {
            font-size: 0.875em;
            max-height: 400px;
            overflow-y: auto;
        }

        .modal-footer {
            .glyphicon-trash:hover {
                color: #660000;
            }

            .glyphicon:hover {
                opacity: 0.75;
                cursor: pointer;
            }
        }
    }
}

#editList {
    .modal-body {
        padding-left: 0;
        padding-right: 0;
    }
}

#listSortable {
    padding: 0;
}

.sortableItemHelper {
    background-color: darken(@off-white, 8%);
}

// ------------------------- jQuery-confirm overrides -------------------------

.jconfirm.jconfirm-black .jconfirm-box {
    border-radius: @cc-el-border-radius;
}

// ----------------------- Default text section styles ------------------------

#default-view {
    padding-top: 40px;
    text-align: center;
    color: #757575;
}