.login-container {
    margin-top: 50px;
}
.description {
    font-size: 16px;
    margin-top: 1.5em;
    color: #757575;
}
.login-box {
    padding: 15px;
    background-color: #F5F5F5;
    border: 1px solid #D0D0D0;
    border-radius: 6px;
}
.login-body > form {
    margin-bottom: 0px;
}
.login-body .form-group {
    margin-bottom: 8px;
}
.login-body .form-control {
    margin-bottom: 5px;
    width: 100%;
}
.login-heading > h3 {
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
}
.alert-auth {
    padding: 6px;
}
.btn-auth {
    margin-top: 20px;
}
.btn-login {
    background-color: #446E9B;
}
.btn-register {
    border-color: #017f62;
    background-color: #019875;
}
.btn-register:hover {
    border-color: #017f62;
    background-color: #01b289;
}
.tooltip-inner {
    width: 150px;
}
.prepend-top-10 {
    margin-top: 10px;
}
.grey-text {
    color: #757575;
}


.treeview > ul > li {
    font-size: 10pt;
    padding: 5px 6px;
}

.treeview > ul > li > span.indent {
    margin-left: 6px;
    margin-right: 6px;
}

.treeview ul > li > span.icon {
    font-size: 12px;
    width: 6px;
}

.tree-wrapper {
    margin-top: 15px;
}

#tree ul li.node-selected {
    font-weight: bold;
}

.list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0;
}

.section-wrapper {
    padding: 10px 0;
}

#notebooks-wrapper::before {
    padding-top: 10px;
}

.content-wrapper {
    padding: 50px 200px 0 200px;
    background-color: #e8e8e8;
    min-height: 100%;
}

.cc-element {
    display: inline-block;
    width: 100%;
    margin: 8px;
    border-radius: 2px;
    text-align: left;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
    transition: all 0.33s ease;
}

.notebook {
    background: #446E9B;
    color: #ffffff;
    padding: 10px;
    min-height: 40px;
}

.go-up {
    vertical-align: middle;
    text-align: center;
    background: #A85252;
    cursor: pointer;
}

.go-up span {
    margin: 0;
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
}

.notebook:not(.placeholder) {
    cursor: pointer;
}

.notebook:not(.go-up) span {
    margin-right: 15px;
}

.note {
    background: #ffffff;
}

.note:hover {
    box-shadow: 0 2px 15px rgba(0,0,0,0.5);
    transition: all 0.2s ease;
}

.note-title {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 10px 0 15px;
}

.note-contents {
    font-size: 12px;
    min-height: 45px;
    padding: 15px 15px 10px 15px;
}

.note-contents p {
    vertical-align: middle;
    min-height: 25px;
    margin: 0;
}

.placeholder {
    opacity: 0.50;
}

.flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.inline {
    display: inline-block;
}

.edit {
    padding-left: 1px;
    cursor: text;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}


/* Pop 10% */
@-webkit-keyframes hvr-pop-5 {
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@keyframes hvr-pop-5 {
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

.hvr-pop-5 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pop-5:hover, .hvr-pop-10:focus, .hvr-pop-10:active {
  -webkit-animation-name: hvr-pop-5;
  animation-name: hvr-pop-5;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Pop 25% */
@-webkit-keyframes hvr-pop-25 {
  50% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }
}

@keyframes hvr-pop-25 {
  50% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }
}

.hvr-pop-25 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pop-25:hover, .hvr-pop-25:focus, .hvr-pop-25:active {
  -webkit-animation-name: hvr-pop-25;
  animation-name: hvr-pop-25;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/*  Slideout.js stuff  */
body {
    width: 100%;
    height: 100%;
}

.slide-menu {
    background-color: #446E9B;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 250px;;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position:relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

#menu {
    display: none;
}

#menu header h3, #menu ul li a {
    color: #FFFFFF;
}

#menu ul li a:hover {
    background-color: #5488BF;
    border-radius: 0;
}

/* ------------------------------------------------
 *                    Media queries
 * ------------------------------------------------ */
@media only screen and (max-device-width: 480px) {

    .content-wrapper {
        padding: 100px 15px 0 15px;
        min-height: 100%;
    }

    #notebooks-wrapper {
        text-align: center;
    }

    #notes-wrapper {
        text-align: center;
    }

    .cc-element {
        width: 95%;
        font-size: 30px;
        -webkit-font-smoothing: antialiased;
    }

    .notebook span {
        font-size: 25px;
    }

    .note-title {
        font-size: 30px;
    }

    .notebook:not(.go-up) span {
        top: 10px;
        margin-right: 20px;
    }

    .navbar-custom {
        height: 100px;
    }

    .c-hamburger {
        top: 25px;
        left: 10px;
        -webkit-transform: scale(1.25);
        -ms-transform: scale(1.25);
        transform: scale(1.25);
    }

}